@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-serif;
}

button {
  background-color: lightgray;
  padding: 1px 6px;
  border-radius: 4px;
}

button:disabled {
  background-color: gray;
}

input {
  padding: 1px 6px;
  border-radius: 4px;
}
