@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-serif;
}

button {
  background-color: #d9d9d9;
  padding: 1px 6px;
  border-radius: 4px;
}

button:disabled {
  opacity: 0.4;
}

input {
  padding: 1px 6px;
  border-radius: 4px;
}
